body{
    background-color: #005FFF;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
     overflow-x: hidden; 
}


/* NAVBAR */
.navbar-area {
    height: 40px;
    width: 100%;
    position: fixed;
    background-color: #005FFF;
    z-index: 1;

  }

.site-navbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.site-logo {
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
}

.site-navbar ul {
    height: 100%;
    margin-right: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.site-navbar ul li a {
    font-size: 20px;
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  } 

.site-navbar ul li a:hover {
    background: rgba(128, 22, 22, 0.1);
  }  
  
  .nav-toggler {
    border: none;
    margin-right: 8px;
    width: 45px;
    padding: 5px;
    cursor: pointer;
    height: 39px;
    display: none;
    background-color: transparent;
  }

  
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }


    /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
   .navbar-area{
       height: 50px;
   }

  a.site-logo{
    font-size: 30px;
    margin-left: 10px;
    }
    .container {
      max-width: 1024px;
    }
    .nav-toggler{
      display: block;
      margin-right: 20px;
    }
    .site-navbar {
      min-height: 50px;
    }

.site-navbar ul li a {
    color: black;
    font-size: 25px;
}

    
  .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 200px);
      left: 0;
      top: 35px;
      flex-direction: column;
      align-items: center;
      background-color: rgb(246, 250, 246);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    
    .site-navbar ul li a {
        padding: 20px;
        }


}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
     
    .navbar-area{
        height: 50px;
        width: 100vw;
    }

   a.site-logo{
     font-size: 30px;
     margin-left: 10px;
     }
     .container {
       max-width: 1024px;
     }
     .nav-toggler{
       display: block;
       margin-right: 30px;
     }

     .site-navbar {
       min-height: 50px;
     }
 
 .site-navbar ul li a {
     color: black;
     font-size: 25px;
 }

 
     
   .site-navbar ul {
       position: absolute;
       width: 100vw;
       height: calc(100vh - 100px);
       left: 0;
       top: 35px;
       flex-direction: column;
       align-items: center;
       background-color: rgb(246, 250, 246);
       max-height: 0;
       overflow: hidden;
       transition: .3s;
     }
     
     .site-navbar ul li a {
         padding: 20px;
         }
 
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape)  {
   .navbar-area{
       height: 50px;
       width: 100vw;
    }

    
   a.site-logo{
    font-size: 30px;
    margin-left: 10px;
    }
    
    .container {
      max-width: 767px;
    }
    .nav-toggler{
      display: block;
      margin-right: 10px;
      background-color: transparent;

    }
    .site-navbar {
      min-height: 50px;
    }

.site-navbar ul li a {
    color: black;
}

    
  .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 35px;
      flex-direction: column;
      align-items: center;
      background-color: rgb(246, 250, 246);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    
    .site-navbar ul li a {
        padding: 20px;
        }
    
 
   
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
   .navbar-area{
       height: 50px;
   }

   a.site-logo{
    font-size: 30px;
    margin-left: 5px;
    }

    .container {
      max-width: 480px;
    }
    .nav-toggler{
      display: block;
      background-color: transparent;
    }

    .site-navbar {
      min-height: 50px;
    }

.site-navbar ul li a {
    color: black;
}

  .site-navbar ul {
      position: absolute;
      width: 100vw;
      height: calc(100vh - 60px);
      left: 0;
      top: 35px;
      flex-direction: column;
      align-items: center;
      background-color: rgb(246, 250, 246);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    
    .site-navbar ul li a {
        padding: 20px;
        }

}
  

/* NAVBAR ENDS*/


/* HERO SECTION STARTS */
.hero{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-content{
    color: white;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.social-icons-container{
    z-index: -1;
    height: 100%;
    width: 8%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.social-icons{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.social-icons:hover{
    transition: cubic-bezier(.07, 1.41, .82, 1.41);
    transform: scale(1.5);
}

.intro-container{
    width: 55%;
    height: 80%;
    /* display: flex; */

}


.intro{
    margin-top: 50px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    z-index: -1;
    
}

.intro-heading{
    width: 99%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-1{
    width: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
}

.h2-inner{
    font-size: 3rem;
    letter-spacing: 0;
    text-align: center;
}

.intro-text{
    font-size: 25px;
    height: 25%;
    width: 90%;
    line-height: 30px;
    text-align: center;
    opacity: 80%;

}

.intro-cta{
    height: 20%;
    width: 40%;
    font-size: 23px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.cta-link{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.cta-png-container{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
}

.cta-png-container:hover{
    transition: cubic-bezier(.07, 1.41, .82, 1.41);
    transform: scale(1.2);
}

.cta-png{
    padding: 5px;
    width: 25px;
    height: 35px;
}

.hero-image-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 99%;
width: 35%;
transition: width 2s;
}

.hero-image{
    width: 95%;
    height: 70%;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .hero{
        height: 70vh;
    }
    .hero-content{
        width: 98%;

    }

    .social-icons-container{
        margin-left: 20px;
    }

    .social-icons{
        width: 40px;
        height: 40px;
    }

    .intro-container{
    }
    
    .intro{
        height: 80%;
        width: 99%;
    }
    
    .heading-1{
        font-size: 3.5rem;
        letter-spacing: 5px;
    }
    
    .h2-inner{
        font-size: 2.2rem;
    }
    
    .intro-text{
        font-size: 20px;
        line-height: 32px;
    
    }

    .intro-cta{
        width: 50%;
        font-size: 30px;
        margin-top: 5px;
        justify-content: center;
    }

    .cta-png-container{
        width: 40px;
        height: 40px;
        margin-left: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 50%;
    }
    
    .hero-image-container{
    height: 90%;
    width: 40%;
    transition: width 2s;
    }
    
    .hero-image{
        width: 99%;
        height: 50%;
    
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .hero{
        height: 95vh;
            }

    .intro{
        height: 70%;
        height: 85%;
    }

    .heading-1{
        font-size: 3.5rem;
        letter-spacing: 4px;
    }
    
    .h2-inner{
        font-size: 2.2rem;
    }
    
    .intro-text{
        font-size: 20px;
        line-height: 30px;
    
    }

    .hero-image-container{
    height: 90%;
    width: 40%;
    transition: width 2s;
    }

    .hero-image{
        height: 65%;
    }

    .intro-cta{
        width: 50%;
        font-size: 22px;
        margin-top: 5px;
        justify-content: center;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape)  {
    .hero{
        height: 110vh;
    }
    
    .hero-content{
        margin-top: 30px;
        width: 95%;
        height: 85%;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    
    .social-icons-container{
        width: 60%;
        height: 20%;
        flex-direction: row;
        margin-top: 70px;
    }
    
    .social-icons{
        width: 40px;
        height: 40px;
    }

    .intro-container{
      width: 90%;
      height: 70%;
    }
    
    .intro{
    margin-left: 0;
    width: 99%;
    height: 85%;
}

.heading-1{
    font-size: 3.5rem;
    width: 100%;
    margin-top: 5px;
}

.h2-inner{
    font-size: 2rem;
}

.intro-text{
    width: 99%;
    line-height: 25px;
    margin-top: 15px;
}

.hero-image-container{
     display: none;
  }

  .intro-cta{
    margin-top: 30px;
    height: 15%;
    width: 40%;
    justify-content: center;
    font-size: 1.5rem;
  }

  #git-icon{
    margin-right: 8px;
    width: 35px;
    height: 35px;
}

  
}



/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .hero{
        height: 95vh;
    }
    
    .hero-content{
    height: 90%;
    flex-direction: column-reverse;
    justify-content: space-around;
    }
    
.social-icons-container{
    width: 80%;
    height: 10%;
    flex-direction: row;
    margin-left: 15px;
}

.social-icons{
    margin-top: 0 ;
    width: 50px;
    height: 50px;
}

.intro-container{
    width: 95%;
}

.intro{
    margin-left: 0;
    width: 99%;
    height: 85%;
}


.heading-1{
    letter-spacing: 5px;
    font-size: 3rem;
    height: 80%;
}

.h2-inner{
    font-size: 1.5rem;
    letter-spacing: 2px;
    height: 20%;
}

.hero-image-container{
     display: none;
  }

  .intro-text{
      width: 99%;
      height: 40%;
      font-size: 18px;
      display: flex;
      align-items: center;
  }

  .social-icons{
      width: 45px;
      height: 45px;

  }

  
  #git-icon{
    margin-right: 8px;
    width: 35px;
    height: 35px;
}

.intro-cta{
    margin-top: 5px;
    width: 55%;
    justify-content: center;
    font-size: 1.5rem;
  }

  

  
}

/* HERO SECTION ENDS */



/* TECH SECTION STARTS */
.tech{
    height: 70vh;
    background-color:  #e1e6f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-content{
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}


.tech-stacks-container{
    width: 80%;
    height:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-heading{
    text-transform: capitalize;
    height: 15%;
    margin: 0;
}

.tech-stacks{
    height: 85%;
    width: 80%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.stack-items{
    height: 45%;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack-images{
    width: 100%;
    height: 100%;
}

#javascript{
    height:95%;
    width: 75%;
}

#wordpress{
    height: 90%;
    width: 70%;
}

#bootstrap{
    height: 99%;
    width: 80% ;
}

#html{
    height: 95%;
    width: 75%;
}

#elementor{
    height: 80%;
    width: 60%;
}

#css{
    height: 85%;
    width: 65%;
}

#tailwind{
    width: 99%;
    height: 120%;
}

#squarespace{
    height: 90%;
    width: 90%;
}

.current-learn{
    box-shadow: #c1d3f1 0px 1px 0px 2px;
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learning-paragragh{
    font-size: 20px;
    text-transform: capitalize;
    height: 80%;
    width: 60%;
    display: flex;
   justify-content: right;
   align-items: center;
}

.react-container{
    display: flex;
   justify-content: left;
   align-items: center;
    height: 99%;
    width: 40%;
   
}

#react-image{
    height: 90%;
    width: 50%;
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .tech{
        height: 50vh;
        display: flex;
        align-items: center;
    }
    
    .tech-content{
        height: 99%;
    }
    

.tech-stacks-container{
    height: 70%;
    width: 99%;
}

.stack-heading{
    height: 15%;
}

    .tech-stacks{
        height: 82%;
        width: 99%;
    }
    
    .stack-items{
        height: 45%;
        width: 20%;
    }

    
#javascript{
    height: 90%;
    width: 85%;
}

#wordpress{
    height: 90%;
    width: 75%;
}

#bootstrap{
    height: 99%;
    width: 95%;
}

#html{
    height: 90%;
    width: 85%;
}

#elementor{
    height: 85%;
    width: 75%;
}

#css{
    height: 90%;
    width: 75%;
}

#tailwind{
    height: 120%;
    width: 99%;
}

#squarespace{
    height: 80%;
    width: 99%;
}

.current-learn{
    width: 50%;
    height: 20%;
}

.learning-paragragh{
    font-size: 25px;
    height: 80%;
    width: 55%;
}

.react-container{
    height: 90%;
    width: 40%;
}

#react-image{
    height: 99%;
    width: 70%;
}


}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .tech{
        display: flex;
        justify-content: center;
    }
    
    .tech-content{
        height: 95%;
    }


.tech-stacks-container{
    width: 80%;
    height: 75%;
}

.stack-heading{
    height: 15%;
    margin-top: -5px ;
}
    
    .tech-stacks{
        height: 85%;
        width: 99%;
    }
    
    .stack-items{
        height: 45%;
        width: 20%;
    }
    
    .stack-images{
        width: 100%;
        height: 100%;
    }
    
    #javascript{
        height: 90%;
        width: 85% ;
    }
    
    #wordpress{
        height: 90%;
        width: 75%;
    }
    
    #html{
        height: 85%;
        width: 75%;
    }
    
    #elementor{
        height: 85%;
        width: 75%;
    }
    
    #css{
        height: 95%;
        width: 75%;
    }
    
    #tailwind{
    }
    
    #squarespace{
        height: 80%;
        width: 95%;
    }

    #bootstrap{
        height: 99%;
        width: 95%;
    }

        
.current-learn{
    width: 40%;
    height: 20%;
}

.learning-paragragh{
    font-size: 25px;
    height: 80%;
    width: 80%;
}

.react-container{
    height: 100%;
    width: 30%;
}

#react-image{
    height: 95%;
    width: 80%;
}

}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {

    .tech{
        height: 70vh;
    }
    
    .tech-content{
        height: 99%;
    }

    .stack-heading{
        height: 15%;
        margin-top: 2px;
    }
    
    .tech-stacks-container{
    width: 80%;
    justify-content: space-between
}
    
    .tech-stacks{
        height: 80%;
        width: 99%;
    }
    
    .stack-items{
        height: 45%;
        width: 20%;
    } 
    
    
.current-learn{
    width: 40%;
    height: 20%;
}

.learning-paragragh{
    font-size: 20px;
    height: 80%;
    width: 70%;
}

.react-container{
    height: 100%;
    width: 40%;
}

#react-image{
    height: 99%;
    width: 60%;
}


}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .tech{
        height: 40vh;
        display: flex;
        justify-content: center;
    }
    
    .tech-content{
        height: 99%;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .tech-stacks-container{
        height: 75%;
        width: 99%;
        justify-content: space-around;
    }
    
    .tech-stacks{
        height: 70%;
        width: 99%;
        margin: 0;
        /* justify-content: space-evenly; */
    }
    
    .stack-heading{
        margin-top: 0;
        height: 10%;
    }
    
    .stack-items{
    margin-top: -4px;
        height: 45%;
        width: 24%;
    }
    
    .stack-images{
        width: 100%;
        height: 100%;
    }
    
    #javascript{
        height: 95%;
        width: 75%;
    }
    
    #wordpress{
        height: 95%;
        width: 70%;
    }
    
    #html{
        height: 95%;
        width: 70%;
    }
    
    #elementor{
        height: 90%;
        width: 70%;
    }
    
    #css{
        height: 90%;
        width: 60%;
    }
    
    #tailwind{
        height: 150%;
        width: 90%;
    }
    
    #squarespace{
        height: 99%;
        width: 90%;
    }

    #bootstrap{
        height: 99%;
        width: 75%;
    }

       
.current-learn{
    box-shadow: #c1d3f1 0px 1px 0px 2px;
    width: 60%;
    height: 20%;
    margin: 0;
}

.learning-paragragh{
    font-size: 20px;
    height: 80%;
    width: 70%;
}

.react-container{
    height: 100%;
    width: 30%;
}

#react-image{
    height: 90%;
    width: 90%;
}


}




/* TECH SECTION ENDS */


/* PROJECT SECTION STARTS */

.projects{
    color: white;
    height: 300vh;
    /* height: 300vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

h1{
    text-transform: uppercase;
    font-weight: bolder;
    margin: 10px;
}

.project-content{
    height: 90%;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.project-title{
    height: 10%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-transform: uppercase;
    font-size: 30px;
}

.project-container{
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.project-1, .project-2, .project-3{
    height: 30%;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.project-a, .project-b{
    width: 45%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-b{
    flex-direction: row-reverse;
}


.project-text{
    background-color: #2775fc;
    width: 99%;
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    z-index: -1 ;
}

.project-links{
    width: 50%;
    height: 99%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.text-title{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 20%;
    text-transform: capitalize;
    font-size: 35px;
}

.project-description{
    color: #e8e8e9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 62%;
    font-size: 22px;
}

.language-used{
    height: 15%;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-used-image{
    width: 15%;
    height: 80%;
    margin-left: 10px;
    margin-bottom: 10px;
}

#css-3{
    /* border: 1px solid red; */
    height: 63%;
    width: 12%;
}

.project-image-container{
    width: 53%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quiz-game, #weather-app{
    width: 90%;
    height: 95%; 
}

.a-image{
    width: 95%;
    height: 99%; 
}

.a-image:hover{
    transition: cubic-bezier(.07, 1.41, .82, 1.41);
    transform: scale(1.1);
}


.more-project-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 50%;
    height: 5%;
}

/* button{
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    font-size: 25px;
    width: 100%;
    height: 100%;
} */

.more-projects{
    background-color: white;
    border: none;
    text-transform: capitalize;
    font-size: 25px;
    width: 100%;
    height: 100%;
}

.more-projects:hover{
    background-color: rgb(198, 118, 255);
    color: white;
}



.more-btn{
    width: 50%;
    height: 50%;
}



/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .projects{
        height: 180vh;
    }
    
    h1{
        margin: 15px;
    }
    
    .project-title{
        font-size: 25px;
    }

    .project-content{
        width: 99%;
    }

    .project-1, .project-2, .project-3{
        height: 33%;
    }

.project-a, .project-b{
    width: 47%;
    height: 95%;
    flex-direction: column-reverse;
    justify-content: space-around;
}

#project-b{
    flex-direction: column-reverse;
}

.project-text{
    width: 99%;
    height: 99%;
}

.project-links{
    width: 95%;
    height: 35%;
}

.text-title{
    font-size: 30px;
}

.project-description{
    width: 99%;
    height: 62%;
    font-size: 20px;
}

.language-used{
    height: 20%;
    width: 60%;
}

.language-used-image{
    width: 15%;
    height: 90%;
    margin-left: 10px;
    margin-bottom: 1px;
}

#css-3{
    height: 63%;
    width: 12%;
}

.project-image-container{
    width: 49%;
    height: 60%;
}

#quiz-game, #weather-app{
    width: 120%;
    height: 99%; 
}

.a-image{
    width: 99%;
    height: 99%; 
}

.a-image:hover{
    transition: cubic-bezier(.07, 1.41, .82, 1.41);
    transform: scale(1.1);
}


.more-btn{
    width: 70%;
    height: 55%;
}

}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .projects{
        height: 220vh;
    }

    
    .project-content{
        width: 99%;
    }

    .project-1, .project-2, .project-3{
        height: 33%;
    }

.project-a, .project-b{
    width: 48%;
    height: 95%;
}

.project-title{
    font-size: 30px;
}

.project-text{
    height: 75%;
}

.text-title{
    margin-top: 5px;
    height: 20%;

}

.project-description{
    font-size: 20px;
}

.language-used{
    height: 14%;
}

.language-used-image{
    margin: 0;
}

}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape)  {
    .projects{
        height: 300vh;
    }

    
    .project-content{
        width: 99%;
    }

    .project-1, .project-2, .project-3{
        height: 33%;
    }

.project-a, .project-b{
    width: 49%;
    height: 95%;
}

.project-text{
    height: 80%;
}

.text-title{
    font-size: 25px;
}

.project-description{
    height: 65%;
    font-size: 15px;
}

.language-used-image{
margin: 0;
width: 18%;
height: 80%;
}

#css-3{
    width: 16%;
    height: 70%;
}

.more-btn{
    width: 70%;
    height: 100%;
}

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
     
    .projects{
        height: 270vh;
    }

    
    .project-content{
        width: 99%;
    }

    .project-1, .project-2, .project-3{
        height: 33%;
    }
    
    .project-a, .project-b{
        width: 95%;
        height: 48%;
    }
    
    .project-container{
    flex-direction: column;

}

.project-text{
    height: 85%;
    width: 100%;
}

.project-links{
    width: 65%;
    height: 100%;
}

.text-title{
    font-size: 30px;
}

.project-description{
    height: 65%;
    font-size: 18px;
}

.project-image-container{
    width: 40%;
}

#quiz-game{
    height: 95%;
    width: 100%;
}

.language-used-image{
margin: 0;
width: 12%;
height: 90%;
}

#css-3{
    width: 12%;
    height: 70%;
}

.more-project-btn-container{
    margin-bottom: 10px;
    width: 90%;
    height: 5%;
}

button{
    font-size: 25px;
}

.more-btn{
    width: 70%;
    height: 50%;
}

}


/* WRITING SECTION STARTS */
.writing{
    background-color: whitesmoke;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.writing-section-heading{
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    height: 8%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.writing-container{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.articles{
    width: 30%;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.writing-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: capitalize;
}

.article-image{
    width: 85%;
    height: 70%;
}

.article-topic{
    width: 95%;
    height: 25%;
    text-align: center;
}

.more-articles-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 50%;
    margin-bottom: 10px;
}

.more-articles{
    background-color: rgb(59, 119, 231);
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: 25px;
    width: 50%;
}

.more-articles:hover{
    background-color: turquoise;
    color: rgb(68, 66, 66);
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
   
    .writing{
        height: 70vh;
    }
    
    .writing-container{
        width: 95%;
        height: 85%;
    }
    
    .articles{
        width: 30%;
        height: 40%;
    }
    
    .article-image{
        width: 95%;
        height: 60%;
    }
    
    .article-topic{
        width: 95%;
        height: 30%;
    }

    .more-articles{
        width: 80%;
    }


}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
     
    .writing{
        height: 90vh;
    }

    .writing-container{
        width: 90%;
        height: 80%;
    }

    
}


/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape)  {
    
    .writing{
        height: 100vh;
    }
    
    .writing-container{
        width: 90%;
        height: 75%;
    }

    .articles{
        width: 30%;
        height: 45%;
    }
    
    .article-image{
        width: 90%;
        height: 70%;
    }
    
    .article-topic{
        width: 95%;
        height: 25%;
        font-size: 12px;
    }

    .more-articles-btn-container{
        height: 10%;
    }

    .more-articles{
        height: 100%;
        font-size: 25px;
        width: 80%;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
     
    .writing{
        height: 120vh;
    }
    
    .writing-container{
        width: 95%;
        height: 85%;
    }

    .articles{
        width: 95%;
        height: 15%;
        flex-direction: row;
        box-shadow: #005FFF 0px 0px 5px 0px;
    }

    .writing-links{
        flex-direction: row;
        justify-content: space-around;
    }
    
    .article-image{
        width: 40%;
        height: 95%;
    }
    
    .article-topic{
        width: 50%;
        height: 80%;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .more-articles{
        font-size: 25px;
        width: 100%;
        height: 100%;
    }

}



/* CONTACT SECTION STARTS */
.contact{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 50%;
    padding: 5px 30px 30px 30px;
    border-radius: 5px;
  }
  
  .form-heading {
    text-align: center;
  }

  .form-paragraph{
      opacity: 70%;
  }
  
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    margin-top: -15px;
    padding: 10px;
    border-top: 0px solid;
    border-right: 0px solid;
    border-left: 0px solid;
    border-bottom: 2px solid rgba(107, 107, 107, 0.397);
    border-radius: 1px;
  }

  .submit-container{
      display: flex;
      justify-content: center;
  }
  
  input[type="submit"] {
    background-color: rgb(10, 36, 71);
    border: 0px solid black;
    border-radius: 50px;
    padding: 8px 15px 8px 15px;
    margin-top: 20px;
    width: 40%;
    height: 80%;
    font-size: 15px;
    cursor: pointer;
    color: white;
  }
  
  input[type="submit"]:hover {
    background-color: turquoise;
    color: black;
  }

  /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
   .contact{
       height: 70vh;
   }
   
    .form-container{
        margin-top: -100px;
       width: 75%;
       height: 60%;
   }

}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape)  {

}

  /* ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px */

@media (min-width: 320px) and (max-width: 480px) {
 .form-container{
     width: 80%;
 }

}


